* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;

}

.color-orange {
    color: #FD6E0A
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-transparent {
    background: transparent;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.btn-group{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

.btn-transparent:hover, .btn:hover {
    background-color: black;
    color: white;
} 

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #000000
}

.text-center {
    text-align: center;
}

.container {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
}

/* main style  */

header {
    background-color: #FFF8F3;
    background: url("images/developer.png"), url("images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

nav .menu a:hover {
    font-size: 20px;
    color: gray;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}


#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#about,
#skills,
#resume {
    padding-top: 130px;
}

#about .about-container {

    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {

    font-size: 20px;

    line-height: 30px;
    color: #757575
}

.about-info .info-card h4 {
    font-size: 20px;
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;
}

.skill-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000011;
    max-width: 267px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {


    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575
}

.hide {
    display: none !important;
}

/* -----Mobile Media Query (576px)---- */

@media screen and (max-width:576px) {
    .container {
        width: 95%;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .btn-group{
        justify-content: center;
    }

    header {
        background-color: #FFF8F3;
        background: url(../images/header_bg.png), #FFF8F3;
        background-position: bottom right;
        background-repeat: no-repeat;
    } 

    nav {
        gap: 20px;
        flex-direction: column;
    }

    nav .menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    #banner {
        margin: 20px;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    
    #banner .banner-image img {
        max-width: 100%;
    }


    #banner .banner-content h1 {
        font-size: 60px;
    }


    #banner .banner-content h2 {
        font-size: 40px;
    }

    #about, #skills, #resume {
    padding-top: 60px;
    }


    #about .about-container {
        padding: 15px;
    }

    #about .about-container .about-info {
        flex-direction: column;
        gap: 25px;
    }


    #skills .skills-container .skill-box {
        flex-direction: column;
    }

    .skill-box .skill-card {
       max-width: 100%;
    }


    #resume .resume-container {
        flex-direction: column;
        margin-top: 70px;
    }

    .resume-card {
        margin: 10px;
    }


    footer .footer-container {
        flex-direction: column;
        gap: 50px;
    }

    footer {
        margin-top: 50px;
        padding: 50px 0;
    }

    .footer-container form input[type="text"], .footer-container form textarea {
        width: 100%;
    }
